.welcome
    {
        color: rgb(200, 155, 60);
        width: 660px;
        height: 110px;
        position: relative;
        font-size: 65;
        animation-name: title;
        animation-delay: 1s;
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }
     
@keyframes title {
    0% {top: 0px;}
    100% {top: -100px;}
}